<div class="pin-container">
    <div class="brand-name">YourBrand</div>
    <h2>Enter 4-Digit PIN</h2>
    <form (ngSubmit)="onSubmit()" #pinForm="ngForm">
        <div class="pin-inputs">
            <input
                *ngFor="let control of pinControls; let i = index"
                type="text"
                maxlength="1"
                [(ngModel)]="pin[i]"
                name="pin{{i}}"
                #pinInput
                (input)="onPinInput($event, i, pinInput)"
                (keydown)="onKeyDown($event, i, pinInput)"
                required
                class="pin-input"
            />
        </div>
        <button type="submit" [disabled]="pin.length < 4" class="submit-button">Submit</button>
    </form>
</div>
